﻿@page "/cars"
@using System.Text.Json
@inject IHttpClientFactory ClientFactory

<h3>Cars</h3>

<table class="table">
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Price</th>
            <th>Drivable</th>
            <th>Registration Expiry</th>
            <th>Mileage</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in cars)
        {
            <tr>
                <td>@item.Make</td>
                <td>@item.Model</td>
                <td>@item.Year</td>
                <td>@item.Price$</td>
                <td>@(item.Drivable ? "Yes" : "No")</td>
                <td>@item.RegistrationExpiry!.Value.ToString("dd/MM/yyyy")</td>
                <td>@item.Mileage km</td>
                <td><button class="btn btn-secondary" @onclick="@(() => DeleteCar(@item.Id))">Delete</button></td>
            </tr>
        }
    </tbody>
</table>

@code {

    private List<CarDto> cars = new List<CarDto>();


    protected override void OnInitialized() {
        GetCars();
    }

    private async void GetCars() {
        var request = new HttpRequestMessage(HttpMethod.Get, "http://localhost:5105/api/cars");
        var client = ClientFactory.CreateClient();
        HttpResponseMessage response;
        try {
            response = await client.SendAsync(request);
        } catch (Exception) {
            return;
        }
        if(response.IsSuccessStatusCode) {
            using var responseStream  = await response.Content.ReadAsStreamAsync();
            cars = (await JsonSerializer.DeserializeAsync<IEnumerable<CarDto>>(responseStream))!.ToList();
            StateHasChanged();
        }
    }

    private async void DeleteCar(int id) {
        var request = new HttpRequestMessage(HttpMethod.Delete, $"http://localhost:5105/api/cars/{id}");
        var client = ClientFactory.CreateClient();
        HttpResponseMessage response;
        try {
            response = await client.SendAsync(request);
        } catch (Exception) {
            return;
        }
        if(response.IsSuccessStatusCode) {
            GetCars();
        }
    }

}

