﻿@page "/cars/add"
@using System.Text.Json
@inject HttpClient HttpClient

<h3>Add car</h3>

<div class="card col-12 col-lg-6 mb-3">
    <div class="card-body">
        <label class="form-label mb-3">Make</label>
        <input class="form-control" type="text" placeholder="Make" @bind="make"><br>
        <label class="form-label mb-3">Model</label>
        <input class="form-control" type="text" placeholder="Model" @bind="model"><br>
        <label class="form-label mb-3">Year</label>
        <input class="form-control" type="number" placeholder="Year" @bind="year"><br>
        <label class="form-label mb-3">Price</label>
        <input class="form-control" type="number" placeholder="Price" @bind="price"><br>
        <label class="form-label mb-3">Registration expiry</label>
        <input class="form-control" type="text" placeholder="Registration expiry" @bind="registrationExpiry"><br>
        <label class="form-label mb-3">Mileage</label>
        <input class="form-control" type="number" placeholder="Mileage" @bind="mileage"><br>
        <input type="checkbox" @bind="drivable"> Drivable<br><br>
        <button class="btn btn-primary" @onclick="AddCar">Add car</button><br><br> 
        <label class="form-label mb-3" style="color: red">@error</label>
        <label class="form-label mb-3" style="color: green">@success</label><br>
    </div>
</div>

@code {
    private string? make;
    private string? model;
    private int year = 2000;
    private double price;
    private DateOnly registrationExpiry = DateOnly.FromDateTime(DateTime.Today);
    private int mileage;
    private bool drivable;
    private string? error = "";
    private string? success = "";

    private async void AddCar() {
        success = "";
        if(!Validate()) {
            return;
        }
        var body = new {
            Make = make,
            Model = model,
            Year = year,
            Price = price,
            RegistrationExpiry = registrationExpiry.ToDateTime(TimeOnly.Parse("00:00")),
            Mileage = mileage,
            Drivable = drivable,
            StoreId = 1
        };    
        try{
            using var response = await HttpClient.PostAsJsonAsync("http://localhost:5105/api/cars", body);
            if(response.IsSuccessStatusCode) {
                success = "Car inserted";
            } else {
                error = "Server error";
            }
        } catch(Exception) {
            error = "Server error";
        }
        ResetInput();
        StateHasChanged();
    }

    private void ResetInput() {
        make = "";
        model = "";
        year = 2000;
        price = 0;
        mileage = 0;
        drivable = false;
        registrationExpiry = DateOnly.FromDateTime(DateTime.Today);
    }


    private bool Validate() {
        if(string.IsNullOrWhiteSpace(make)) {
            error="Make can not be empty";
            return false;
        }
        if(string.IsNullOrWhiteSpace(model)) {
            error="Model can not be empty";
            return false;
        }
        if(year < 1930 || year > 2022) {
            error="Year must be between 1930 and 2022";
            return false;
        }
        if(price < 0 || price > 20000000){
            error="Price must be between 0 and 20000000";
            return false;
        }
        if(registrationExpiry.Year <= year) {
            error="Registraion expiry must be greater than production year";
            return false;
        }
        if(mileage < 0 || mileage > 500000) {
            error="Mileage must be between 0 and 500000";
            return false;
        } 
        error= "";
        return true;
    }

}
